server:
  port: 8080

spring:
  # Banner
  banner:
    location: Banner.txt
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/crud_example}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
        type:
          wrapper_array_handling: ALLOW
    database: postgresql

# Project Description
application:
  title: 'CRUD Example'
  version: 'v0.1'